<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>
<div id="map_container" style="width:400px;">
	<%= render :partial => 'restaurants/map', :locals => {:lat => @restaurant.lat, :long => @restaurant.long}%>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
